/* src/pages/HomePage.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  /* background: linear-gradient(135deg, #ff7e5f, #feb47b, #ff6f61, #d7398f, #7a2d7e); */
  background:url(https://img.freepik.com/premium-photo/bunch-fruit-bowl-water_759095-21386.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.home-container h1{
  color: white;
  font-size: 50px;
}

h1 {
  font-size: 36px;
  margin-bottom: 40px;
  color:white; /* Darker shade for the main heading */
  font-weight: bold;
  text-transform: uppercase; /* Uppercase for emphasis */
}

.services-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 20px; /* Spacing between cards */
}

.service-card {
  background-color: black; /* Blue color for cards */
  color: white;
  border-radius: 12px;
  width: 250px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.service-card h2 {
  font-size: 22px;
  margin-bottom: 12px;
}

.service-card p {
  font-size: 16px;
  color: white;
}

.service-card:hover {
  background-color: white; /* Slightly darker blue on hover */
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

p:hover{
  color: black;
}




